* {
    font-family: 'Indie Flower', cursive;
}

.bk-image {
    background-image: url("../images/6680.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.word {
    padding-top: 100px;
}

.wrapper {
    padding-top: 150px;
}

.bg-1 { 
    background-color: lightblue; /* Green */
    color: #ffffff;
}

section {
    font-size: 20px;
}